:root {
  --primary-color: #000000;
  --secondary-color: #0056b3;
  --background-color: #ffffff6a;
  --text-color: #ffffff;
  --dark-background-color: #00000079;
  --dark-text-color: #000000;
  --light-card-background: #ffffff;
  --dark-card-background: #1c1c1c;
  --light-card-text: #212529;
  --dark-card-text: #e0e0e0;
  --basic-plan-color: #e0f7fa;
  --standard-plan-color: #ffe0b2;
  --premium-plan-color: #ffccbc;
}

body {
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  background-size:cover;
  background: linear-gradient(135deg, #d7ff366b, #53ff7bba);
}

.header {
  background-image: url('images/21.webp');
  background-size:contain;
  background-position: center;
  padding-top: 75vh;
  color: white;
  text-align: center;
  position: relative;
  animation: fadeIn 2s ease-in-out;
  border-radius: 0% 50%;
  margin: 10vw; /* Increase white space below header */
  box-shadow: 2px 4px 12px #0000006a, -2px -4px 12px #0000006a;
  margin-bottom: 15vh;
  border: 1vw solid #ffffff90;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.429);

}
.header:hover{
  background-image: url("images/1.webp");
}
.plan-card, .review-box {
  background: #e0e0e0;
  box-shadow: 8px 8px 16px #0000006a, -8px -8px 16px #0000006a;
  border-radius: 15px;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  translate: 0px -200px;
  animation: slideInFromLeft 1s ease-in-out;
}

.header p {
  font-size: 1.5rem;
  translate: 0px -200px;
  animation: slideInFromRight 1s ease-in-out;
}
.navbar {
  position: fixed;
  top: 15%;
  padding-left: 2vh;
  margin-bottom: 20vh;
  width: 20%;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-brand {
  color:var(--text-color)!important;
  width: 20%;
  font-weight: 700;
  text-shadow: 2px 2px 4px #0000003a;
  text-decoration: none !important;
}
.navbar-brand:hover{
  color: rgb(215, 172, 172);
  width: 20%;
  font-weight: 900;
}

.Navimg{
  text-align: center;
}

.Navimg h1{
font-size: 2rem;
font-weight: 900;
text-shadow: 2px 2px 4px #0000003a;
}

.Navimg img{
  width: 10vw;
  height: 70vh;
  transition-duration: 500ms;
  border: 1vw solid #ffffff90;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.429);
  border-radius: 50%;
  opacity: 0.9;
  flex: auto;
}
.Navimg img:hover{
  flex-direction: row;
  border-radius: 45px;
  width:30vw;
  opacity: 1;
  transition-delay: 50ms;
}

#dark-mode-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  z-index: 1000; /* Ensure it stays on top */
}

#dark-mode-toggle:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.footer {
  background-color: #e9ecef;
  color: var(--text-color);
}

body.dark-mode {
  background-color: var(--dark-background-color);
  background-image: none; 
  color: var(--dark-text-color);
}
.dark-mode .plan-card h3,
.dark-mode .plan-card p,
.dark-mode .plan-card ul,
.dark-mode .plan-card .price {
  color: #000000;
}

body.dark-mode .plan-card {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-mode .footer {
  background-color: #1c1c1c;
  color: var(--dark-text-color);
}

.client-reviews {
  background-image: url('images/22.webp');
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  margin: 50px 10%;
  border-radius: 20px ;
  margin-bottom: 50px; /* Increase white space below reviews */
  box-shadow: 1px 5px 10px rgb(0, 0, 0);
  opacity: 1;
  border: 1vw solid #ffffff90;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.429);
}

.client-reviews h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.review-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 5%;
}

.review-box {
  width: 25%;
  background-color: rgba(0, 0, 0, 0.36);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: 1vw solid #ffffff90;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.429);
}

.review-box:hover{
  background-image: url(images/22.webp);
}

.review-content {
  margin-bottom: 20px;
}

.review-author {
  font-style: italic
}

.features {
  padding-left: 10%; /* Increase padding from 50px to 10% on both sides */
  padding-right: 10%;
  padding-top: 4%;
  text-align: center;
}

.features h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 15vh;
  padding-bottom: 1vh;
  text-shadow: 2px 2px 4px #0000003a;
}

.feature-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-card {
  width: 25%;
  height: 20%;
  margin-bottom: 25vh;
  position: relative;
  border-radius: 60px;
  border: 1vw solid #ffffff90;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.429);
  transition-duration: 500ms;
}

.feature-card img {
  width: 100%;
  border-radius: 45px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.42);
}

.feature-card:hover {
  transform:scale(1.05);
  transition-delay: 50ms;
  transition: transform 0.3s ease;
}

.feature-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 93%;
  padding: 9px;
  background-color: rgba(0, 0, 0, 0.517);
  color:var(--text-color);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.144);
}

.feature-content h3 {
  font-size: 1.25rem;
  margin-bottom: 5vh;
  font-weight: 700;
}

.feature-content p {
  font-size: 0.75rem;
  font-weight: 700;
}

.plans {
  padding: 50px 10%;
  text-align: center;
}

/* Glacier Effect */
.glacier-effect {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.glacier-effect:before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  opacity: 0.2;
  transform: rotate(45deg);
  z-index: -1;
  pointer-events: none;
  animation: glacierMovement 20s infinite linear;
}

.glacier-effect .plan-card {
  position: relative;
  z-index: 2;
}

@keyframes glacierMovement {
  0% { transform: rotate(45deg) translate(0, 0); }
  100% { transform: rotate(45deg) translate(10%, 10%); }
}

.plans h2 {
  font-size: 2rem;
  margin-bottom: 15vh;
  text-shadow: 2px 2px 4px #0000003a;
}

.plan-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0; /* Add negative margin on both sides to create space between plans */
}

.plan-card {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 22%;
  height: 22%;
  margin-bottom: 30px;
  position: relative;
  transition: transform 0.3s;
  border: 1vw solid #ffffff90;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.429);
  background-image: url(images/19.webp);
}

.plan-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.plan-card h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}

.plan-card p {
  font-size: 0.75rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}

.plan-card ul {
  list-style-type:none;
  padding: 0;
  margin-bottom: 20px;
}

.plan-card ul li {
  font-weight: 700;
  font-size: 0.75rem;
  margin-bottom: 10px;
  color: #000000;
}

.plan-card .price {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.plan-card.basic-plan {
  background-color: var(--basic-plan-color);
}

.plan-card.standard-plan {
  background-color: var(--standard-plan-color);
}

.plan-card.premium-plan {
  background-color: var(--premium-plan-color);
}

.plan-card .btn {
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 1vh;
}
.plan-card .btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  font-size:large;
  border-radius: 5px;
  padding: 1.05vh;
}

.footer {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px 10%;
  text-align: center;
}

.footer p {
  margin: 0;
}

.about-section {
  background-image: url('images/4.webp');
  background-size: cover;
  background-position: center;
  padding: 50px 15%;
  color: #fff;
  text-align: center;
  margin-bottom:30px; /* Increase white space below about */
  margin: 100px 10%;
  border-radius: 20px ;
  box-shadow: 1px 5px 10px rgb(0, 0, 0);
  border: 1vw solid #ffffff90;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.429);
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 1vw solid #ffffff90;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.429);
}

.profile-content h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.profile-content p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.contact-section {
  background-image: url('images/13.webp');
  background-size: cover;
  background-position: center;
  padding: 50px 10%;
  color: #fff;
  text-align: center;
  margin-bottom: 50px; /* Increase white space below contact */
  margin: 50px 10%;
  border-radius: 20px ;
  box-shadow: 1px 5px 10px rgb(0, 0, 0);
  border: 1vw solid #ffffff90;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.429);
}


.contact-content p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .review-box, .feature-card, .plan-card {
      width: 100%;
  }
  .profile-content h3 {
      font-size: 1.5rem;
      margin-bottom: 20px;
  }
  
  .profile-content p {
      font-size: 1rem;
      margin-bottom: 10px;
  }
  .about-section {
      background-image: url('images/12.webp');
      background-size: cover;
      background-position: center;
      padding: 50px 15%;
      color: #fff;
      text-align: center;
      margin-bottom: 50px; /* Increase white space below about */
      margin: 50px 10%;
      border-radius: 20px ;
      box-shadow: 1px 5px 10px rgb(0, 0, 0);
  }
  .navbar-brand{
    display: none;
  }
  .header {
    background-image: url('images/21.webp');
    background-size:45vh;
    background-position: center;
    padding-top: 40vh;
    color: white;
    text-align: center;
    position: relative;
    animation: fadeIn 2s ease-in-out;
    border-radius: 5vh;
    margin: 10vw; /* Increase white space below header */
    box-shadow: 8px 8px 16px #0000006a, -8px -8px 16px #0000006a;
  
  }
  .feature-card, .plan-card, .review-box {
    background: #e0e0e0;
    box-shadow: 8px 8px 16px #0000006a, -8px -8px 16px #0000006a;
    border-radius: 15px;
  }
  
  .header h1 {
    font-size: 2rem;
    font-weight: bold;
    translate: 0px -200px;
    animation: slideInFromLeft 1s ease-in-out;
  }
  
  .header p {
    font-size: 1rem;
    translate: 0px -200px;
    animation: slideInFromRight 1s ease-in-out;
  }
}