:root {
  --primary-color: #007bff;
  --secondary-color: #0056b3;
  --background-color: #ffffff6a;
  --text-color: #ffffff;
  --dark-background-color: #121212;
  --dark-text-color: #e0e0e0;
  --light-card-background: #ffffff;
  --dark-card-background: #1c1c1c;
  --light-card-text: #212529;
  --dark-card-text: #e0e0e0;
  --basic-plan-color: #e0f7fa;
  --standard-plan-color: #ffe0b2;
  --premium-plan-color: #ffccbc;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  background-size:cover;

  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.header {
  background-image: url('images/21.webp');
  background-size:cover;
  background-position: center;
  padding-top: 75vh;
  color: white;
  text-align: center;
  position: relative;
  animation: fadeIn 2s ease-in-out;
  margin-bottom: 0; /* Increase white space below header */
  box-shadow: 8px 8px 16px #b5b5b5, -8px -8px 16px #ffffff;

}
.feature-card, .plan-card, .review-box {
  background: #e0e0e0;
  box-shadow: 8px 8px 16px, -8px -8px 16px;
  border-radius: 15px;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  translate: 0px -200px;
  animation: slideInFromLeft 1s ease-in-out;
}

.header p {
  font-size: 1.5rem;
  translate: 0px -200px;
  animation: slideInFromRight 1s ease-in-out;
}
.navbar {
  position: fixed;
  top: 15%;
  padding-left: 2vh;
  margin-bottom: 20vh;
  width: 20%;
}
.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler-icon {
  background-image: url('images/1.webp');
}

.navbar-brand {
  color: rgb(255, 255, 255) !important;
  width: 20%;
  font-weight: 700;
  text-decoration: none !important;
}
.navbar-brand:hover{
  color: rgb(215, 172, 172);
  width: 20%;
  font-weight: 900;
}

#dark-mode-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  z-index: 10; /* Ensure it stays on top */
}

#dark-mode-toggle:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.blog-posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px; /* Increase white space below blog */
}

.blog-post {
  flex: 1 1 calc(33.333% - 20px); /* Adjust the width as needed */
  box-sizing: border-box;
}

.blog-post .card {
  background-color: var(--light-card-background);
  color: var(--light-card-text);
  border: none;
  border-radius: 15px;
  overflow: hidden;
  animation: fadeInUp 1s ease-in-out;
  transition: transform 0.3s;
}

.blog-post .card:hover {
  transform: translateY(-10px);
}

.blog-post .card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.blog-post .card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.blog-post .btn {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

.sidebar .card {
  background-color: var(--light-card-background);
  color: var(--light-card-text);
  border: none;
  border-radius: 15px;
  overflow: hidden;
  animation: fadeInUp 1s ease-in-out;
}

.sidebar .card-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.footer {
  background-color: #e9ecef;
  color: var(--text-color);
}

body.dark-mode {
  background-color: var(--dark-background-color);
  background-image: none; 
  color: var(--dark-text-color);
}
.dark-mode .plan-card h3,
.dark-mode .plan-card p,
.dark-mode .plan-card ul,
.dark-mode .plan-card .price {
  color: #000000;
}
.dark-mode .footer {
  background-color: #1c1c1c;
  color: var(--dark-text-color);
}

.client-reviews {
  background-image: url('images/2.webp');
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  margin: 50px 10%;
  border-radius: 20px ;
  margin-bottom: 50px; /* Increase white space below reviews */
  box-shadow: 1px 5px 10px rgb(0, 0, 0);
}

.client-reviews h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.review-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 5%;
}

.review-box {
  width: 25%;
  background-color: rgba(0, 0, 0, 0.36);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.review-content {
  margin-bottom: 20px;
}

.review-author {
  font-style: italic
}

.features {
  padding-left: 10%; /* Increase padding from 50px to 10% on both sides */
  padding-right: 10%;
  padding-top: 4%;
  text-align: center;
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  padding-bottom: 1vh;
}

.feature-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-card {
  width: 30%;
  margin-bottom: 30px;
  position: relative;
}
.feature-card:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.feature-card img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.feature-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 94%;
  padding: 9px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 3px 10px rgb(0, 0, 0);
}

.feature-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature-content p {
  font-size: 1rem;
}

.plans {
  padding: 50px 10%;
  text-align: center;
}

/* Glacier Effect */
.glacier-effect {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.glacier-effect:before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: url('images/18.webp') no-repeat center center;
  background-size: cover;
  opacity: 0.2;
  transform: rotate(45deg);
  z-index: -1;
  pointer-events: none;
}

.glacier-effect .plan-card {
  position: relative;
  z-index: 2;
}

.plans h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.plan-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0; /* Add negative margin on both sides to create space between plans */
}

.plan-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 25%;
  margin-bottom: 30px;
  position: relative;
  transition: transform 0.3s;}

.plan-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.plan-card h3 {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 10px;
}

.plan-card p {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 10px;
}

.plan-card ul {
  list-style-type:none;
  padding: 0;
  margin-bottom: 20px;
}

.plan-card ul li {
  margin-bottom: 10px;
  color: #000000;
}

.plan-card .price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.plan-card.basic-plan {
  background-color: var(--basic-plan-color);
}

.plan-card.standard-plan {
  background-color: var(--standard-plan-color);
}

.plan-card.premium-plan {
  background-color: var(--premium-plan-color);
}

.plan-card .btn {
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 1vh;
}
.plan-card .btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  font-size:large;
  border-radius: 5px;
  padding: 1.5vh;
}

.footer {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px 10%;
  text-align: center;
}

.footer p {
  margin: 0;
}

.about-section {
  background-image: url('images/12.webp');
  background-blend-mode:lighten;
  background-size: cover;
  background-position: center;
  padding: 50px 15%;
  color: #fff;
  text-align: center;
  margin-bottom:30px; /* Increase white space below about */
  margin: 100px 10%;
  border-radius: 20px ;
  box-shadow: 1px 5px 10px rgb(0, 0, 0);
}

.profile-box {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-content h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.profile-content p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.contact-section {
  background-image: url('images/13.webp');
  background-size: cover;
  background-position: center;
  padding: 50px 10%;
  color: #fff;
  text-align: center;
  margin-bottom: 50px; /* Increase white space below contact */
  margin: 50px 10%;
  border-radius: 20px ;
  box-shadow: 1px 5px 10px rgb(0, 0, 0);
}

.contact-box {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-content p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .review-box, .feature-card, .plan-card {
      width: 100%;
  }
  .profile-content h3 {
      font-size: 1.5rem;
      margin-bottom: 20px;
  }
  
  .profile-content p {
      font-size: 1rem;
      margin-bottom: 10px;
  }
  .about-section {
      background-image: url('images/12.webp');
      background-size: cover;
      background-position: center;
      padding: 50px 15%;
      color: #fff;
      text-align: center;
      margin-bottom: 50px; /* Increase white space below about */
      margin: 50px 10%;
      border-radius: 20px ;
      box-shadow: 1px 5px 10px rgb(0, 0, 0);
  }
  .navbar-brand{
    display: none;
  }
}